$bg-color:#ecece9;
$bg-btn-color:rgba(14, 158, 184, 0.333);
$btn-text-color:#ffff;
$box-shadow:0 1px 5px rgba(104, 104, 104, 0.8);
$h1-color:rgb(255, 255, 255);
$h1-text-shadow: 2px 3px #474745;
$theme-color:#ffc244;
$box-color:#0d754a;
$p-color:#ffffee;