$primary-color: #ffc244;
$heading-big-color:#fff;
$heading-small-color:#effe;
$navbar-bg-color:rgb(22, 26, 25);
$btn-color:rgba(230, 14, 14, 0.2);
*{
    margin:0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
select{
    width: 200px;
    padding: 5px;
    border: none;
    background: transparent;
    color: white;
    
    option{
        color: rgb(10, 80, 76);
        font-size: 2rem;
    }
}
nav{
background:$navbar-bg-color ;
padding: 5px 20px;
ul{
    list-style-type: none;
}
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    li{
        font-size: 16px;
        padding: 15px 5px;
        a{
            display: block;
            color: #fff;
            text-decoration: none;
            &:hover{
    text-decoration: underline;
            }
        }
    }
    
    .logo a{
        font-size: 2.5rem;
        margin-left: 10px;
        color: $primary-color;
        font-weight: 900;
        font-family: 'Helvetica Neue';
       width: 200px;
       border: 2px solid rgb(194, 123, 31);
       text-align: center;
       border-radius: 20px;
       background: rgb(6, 74, 77);
    }
    .button.secondary{
        border-bottom: 1px #444 solid;
    }
}
.item.active{
    display: block;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
    margin-right: 30px;
    .button{
        order: 2;
    }
}

.toggle{
    cursor: pointer;
    order: 1;
    .bars{
        background: #999;
        display: inline-block;
        height: 3px;
        position: relative;
        width: 18px;
        &::before{
            content: "";
            position: absolute;
            background: #999;
        display: inline-block;
        height: 2px;
        width: 18px;
        top: 5px;
        }
        &::after{
            content: "";
            position: absolute;
            background: #999;
        display: inline-block;
        height: 2px;
        width: 18px;
        top: -5px;
        }
    }
}
/*tablet menu*/
@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
width: auto;
order: 2;
display: block;
    
    }
    .logo{
        order: 2;
    }
    .toggle{
        order: 2;
    }
    .button{
    
    .secondary{
        border: 0;
    
    }
     a{
        padding: 7px 15px;
        background: #2abb9b;;
        border:  1px solid #006d6d;
        border-radius: 50em;
        &:hover{
            transition: all .25s;
        }
    }
    }
    .button.secondary a{
        background: transparent;
    }
    
}
@media all and (min-width:768px){
   
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
     
    }
    .button{
        order: 2;
    }
    .menu{
        li{
            padding: 15px 10px;
            .button{
                padding-right: 0;
            }
        }
    }
}

.Home{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   background-color: $primary-color;
   align-items: center;
   padding: 2rem;
   height: 100vh auto;
   margin: auto;
   width: 100vw;
   overflow: hidden;
   a{
       text-decoration: none;
       color: rgb(238, 235, 235);
   }
 
   h1{
       color:$heading-big-color;
       font-size: 4rem;
       font-family: courgette;
       width: 100%;
       font-weight: 900;
       span{
           color: #2abb9b;;
           font-size: 4.5rem;
           position: relative;
           &::before{
               content: "";
               background: rgb(235, 136, 7);
               width: 210px;
               height: 8px;
               display: block;
               position: absolute;
               bottom: 0;
               right: 0;

           }
       }
   }
   h2{
       font-size: 2.5rem;
       font-family:rokkitt;
       line-height: 1;
   }
   .homPic{
       width: 100%;
       background: rgb(228, 154, 18);
       opacity: .5;
       border-radius: 50%;
       img{
           width: 100%;
           height: auto;
       }
       h4{
           color: $heading-small-color;
           margin-top: 0;
           text-align: center;
           font-size: 0.8rem;
           margin-bottom: 2rem;
       }
   }
   .mision{
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 width: 600px;
 margin-left: 20px;
 position: relative;
 margin-top: 20px;
 border-radius: 20px;
 box-sizing: border-box;
 box-shadow: -1px 3px #745002;
 h1{
color: rgb(0, 0, 0);
font-family: sans-serif;
font-size: 2rem;
text-transform: capitalize;
text-decoration: underline;
 }
 p{
     color: rgb(10, 6, 1);
    font-size: 1.4rem;
    font-family: courier;
 }
 &::after{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #e6ab0a;
     opacity: .4;
 }
   
}
   .homePage{

       padding: 2rem;
       color: #fff;
       display: grid;
       margin-top: 0rem;
       width: 100%;
       margin: 10px auto;
       p{
           font-size: 1.5rem;
           color: black;
           font-family: rokkitt;
       }
       .btn{
           width: 30%;
           background: rgb(202, 55, 55);
           color: #fff;
           padding: 5px;
           border-radius: 5px;
           text-transform: uppercase;
           font-family: 'Courier New';
           font-size: 1rem;
           &:hover{
               background: rgb(136, 9, 9);
           }
       }
   }
}

@media screen and (max-width: 700px) {
    .Home{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
     height: auto;
     .homePage{
         width: 100%;
     }
    }
  }
  
 

  *,
  *:before,
  *:after {
    
    box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background: #fff;
    color: #999;
  }
  
  a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    color: #fff;
  }
  
  p {
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
  }
  
  section {

    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: $primary-color;
  }
  
  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.825rem;
    margin: 1.3rem 0;
  }
  
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }
  
  .service a {
    color: #5b7abb;
    display: block;
  }
  
  .service h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
  
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    box-shadow: 2px 4px 3px grey;
    color: #fff;
    font-size: 1.6rem;
    
    transition: all 0.3s ease;
  }
  
  .service:hover {

    box-shadow: 0 5px 10px rgba(179, 26, 26, 0.08);
  }
  
  .service i {
    font-size: 3.45rem;
    margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
    color: #021314;
  }
  
  .service1:hover {
    color: #021314;
  }
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
    color: #021314;
  }
  
  .service2:hover {
    border: 2px solid #425fca;
  }
  
  .service3 i,
  .service3 h4,
  .service3 .cta {
    color: #021314;
  }
  
  .service3:hover {
    border: 2px solid #9c42ca;
  }
  
  .service .cta span {
    font-size: 0.6rem;
  }
  
  .service > * {
    flex: 1 1 100%;
  }
  
  .service .cta {
    align-self: flex-end;
  }
  
  @media all and (max-width: 900px) {
    .services-grid {
     
      display: flex;
      flex-direction: column;
    }
  }
  
