* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  width: 200px;
  padding: 5px;
  border: none;
  background: transparent;
  color: white;
}

select option {
  color: #0a504c;
  font-size: 2rem;
}

nav {
  background: #161a19;
  padding: 5px 20px;
}

nav ul {
  list-style-type: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu .logo a {
  font-size: 2.5rem;
  margin-left: 10px;
  color: #ffc244;
  font-weight: 900;
  font-family: 'Helvetica Neue';
  width: 200px;
  border: 2px solid #c27b1f;
  text-align: center;
  border-radius: 20px;
  background: #064a4d;
}

.menu .button.secondary {
  border-bottom: 1px #444 solid;
}

.item.active {
  display: block;
}

.item {
  width: 100%;
  text-align: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  margin-right: 30px;
}

.item .button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.toggle {
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.toggle .bars {
  background: #999;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 18px;
}

.toggle .bars::before {
  content: "";
  position: absolute;
  background: #999;
  display: inline-block;
  height: 2px;
  width: 18px;
  top: 5px;
}

.toggle .bars::after {
  content: "";
  position: absolute;
  background: #999;
  display: inline-block;
  height: 2px;
  width: 18px;
  top: -5px;
}

/*tablet menu*/
@media all and (min-width: 468px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .item.button {
    width: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
  }
  .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .toggle {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .button .secondary {
    border: 0;
  }
  .button a {
    padding: 7px 15px;
    background: #2abb9b;
    border: 1px solid #006d6d;
    border-radius: 50em;
  }
  .button a:hover {
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .button.secondary a {
    background: transparent;
  }
}

@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .item {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li .button {
    padding-right: 0;
  }
}

.Home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: #ffc244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  height: 100vh auto;
  margin: auto;
  width: 100vw;
  overflow: hidden;
}

.Home a {
  text-decoration: none;
  color: #eeebeb;
}

.Home h1 {
  color: #fff;
  font-size: 4rem;
  font-family: courgette;
  width: 100%;
  font-weight: 900;
}

.Home h1 span {
  color: #2abb9b;
  font-size: 4.5rem;
  position: relative;
}

.Home h1 span::before {
  content: "";
  background: #eb8807;
  width: 210px;
  height: 8px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Home h2 {
  font-size: 2.5rem;
  font-family: rokkitt;
  line-height: 1;
}

.Home .homPic {
  width: 100%;
  background: #e49a12;
  opacity: .5;
  border-radius: 50%;
}

.Home .homPic img {
  width: 100%;
  height: auto;
}

.Home .homPic h4 {
  color: #effe;
  margin-top: 0;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.Home .mision {
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 600px;
  margin-left: 20px;
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -1px 3px #745002;
          box-shadow: -1px 3px #745002;
}

.Home .mision h1 {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: underline;
}

.Home .mision p {
  color: #0a0601;
  font-size: 1.4rem;
  font-family: courier;
}

.Home .mision::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e6ab0a;
  opacity: .4;
}

.Home .homePage {
  padding: 2rem;
  color: #fff;
  display: -ms-grid;
  display: grid;
  margin-top: 0rem;
  width: 100%;
  margin: 10px auto;
}

.Home .homePage p {
  font-size: 1.5rem;
  color: black;
  font-family: rokkitt;
}

.Home .homePage .btn {
  width: 30%;
  background: #ca3737;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Courier New';
  font-size: 1rem;
}

.Home .homePage .btn:hover {
  background: #880909;
}

@media screen and (max-width: 700px) {
  .Home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
  .Home .homePage {
    width: 100%;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #fff;
  color: #999;
}

a {
  text-decoration: none;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  color: #fff;
}

p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.5;
}

section {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #ffc244;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 1.825rem;
  margin: 1.3rem 0;
}

.section-lead {
  max-width: 600px;
  margin: 1rem auto 1.5rem;
}

.service a {
  color: #5b7abb;
  display: block;
}

.service h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #56ceba;
  font-size: 1.3rem;
  margin: 1rem 0 0.6rem;
}

.services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.service {
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #e7e7e7;
  -webkit-box-shadow: 2px 4px 3px grey;
          box-shadow: 2px 4px 3px grey;
  color: #fff;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service:hover {
  -webkit-box-shadow: 0 5px 10px rgba(179, 26, 26, 0.08);
          box-shadow: 0 5px 10px rgba(179, 26, 26, 0.08);
}

.service i {
  font-size: 3.45rem;
  margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
  color: #021314;
}

.service1:hover {
  color: #021314;
}

.service2 i,
.service2 h4,
.service2 .cta {
  color: #021314;
}

.service2:hover {
  border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
  color: #021314;
}

.service3:hover {
  border: 2px solid #9c42ca;
}

.service .cta span {
  font-size: 0.6rem;
}

.service > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.service .cta {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media all and (max-width: 900px) {
  .services-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=Main.css.map */