* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.okay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e0aa13;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  margin: auto;
  width: 100vw;
}

.okay h1 {
  color: #fff;
  font-size: 4rem;
  font-family: courgette;
  width: 100%;
  font-weight: 900;
}

.okay h1 span {
  color: #460909;
  font-size: 4.5rem;
  position: relative;
}

.okay h1 span::before {
  content: "";
  background: #eb8807;
  width: 210px;
  height: 8px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.okay h2 {
  font-size: 2.5rem;
  font-family: rokkitt;
  line-height: 1;
}

.okay .homPic {
  width: 100%;
}

.okay .homPic img {
  width: 100%;
  height: auto;
}

.okay .homPic h4 {
  color: #effe;
  margin-top: 0;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.okay .homePage {
  padding: 2rem;
  color: #fff;
  display: grid;
  margin-top: 0rem;
  width: 100%;
  margin: 10px auto;
}

.okay .homePage p {
  font-size: 1.5rem;
  color: black;
  font-family: rokkitt;
}

.okay .homePage .btn {
  width: 30%;
  background: #ca3737;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Courier New';
  font-size: 1rem;
}

.okay .homePage .btn:hover {
  background: #880909;
}

@media screen and (max-width: 700px) {
  .okay {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
  .okay .homePage {
    width: 100%;
  }
}
